.name {
    border: 1px solid white; 
    background-color: blueviolet;
    width: 90%;
    height: 25%;
    border-radius: 10%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}

.streak {
    border: 1px solid grey; 
    background-color: blueviolet;
    width: 90%;
    height: 35%;
    border-radius: 10%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
}

.newHabbitt {
    background-color: violet;
    width: 90%;
    height: 20%;
    border-radius: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}
.mainContainer {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
    background: linear-gradient(135deg, #3a1c71 0%, #d1c4e9 100%);
}
.navTab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
    background-color: #f0f0f0;
    background: linear-gradient(135deg, #3a1c71 0%, #d1c4e9 100%);
}
.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 5%;
    width: 100%;
    background-color: black;
    color: white
}
.logoContainer img {
    height: 15%;
    width: 15%;
}
.logoContainer span {
    font-size: 24px;
    font-weight: 600;
    color: white;
}
.navPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    color: white;
    background: #3a1c71;
}
.navItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    width: 100%;
    background-color: #3a1c71;
    color: white;
}
.navItem img {
    height: 10%;
    width: 10%;
}
.navItem span {
    font-size: 16px;
    font-weight: 600;
    color: white;
}